<!DOCTYPE html>
<html lang="fr">
<body>
<div class="col">
    <h1 class="text-uppercase">Bonjour !</h1>
    <p>Nous avons bien pris en compte votre demande, vous serez recontacté sous un délai de 24H maximum.</p>
    <p>Durant ce délai, je vous invite à visiter plus en détails mon site : <a href="http://clairegindre.com">www.clairegindre.com</a></p>
</div>
</body>