<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <h1 class="text-uppercase">Bonjour !</h1>
        {{ content|raw }}
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h6>Claire GINDRE</h6>
        <p><em>Photographe et graphiste</em></p>
        <p>84, Rue de Versailles</p>
        <p>78150 Le Chesnay</p>
        <p>contact@clairegindre.com</p>
        <p>www.clairegindre.com</p>
        <p><a href="www.facebook.com/clairegindre.pg" target="_blank"><i class="fa fa-facebook-f fa-2x"></i></a></p>
        <p><a href="www.instagram.com/clairegindre.pg" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></p>
        <h1><img src="{{ attachment }}" alt="logo-claire-gindre" style="width: 7em; height: auto" /></h1>
    </div>
</div>
<script src="https://use.fontawesome.com/4b9d8cc7f4.js"></script>
</body>