/* Blog CSS */

.gallery-customers-header {
    height: 45vh;
    width: 100%;
}

.gallery-customers-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.filter-button {
    background-color: #363636;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    font-size: 1.2em;
}

.select-portfolio {
    justify-content: center;
}

.blog-pictos-filter {
    width: 1.5em;
    height: auto;
    margin-right: 1em;
}

.filter-button-dynamique {
    background-color: #363636;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    text-align: right;
    padding-right: 1em;
    font-size: 1.2em;
}

.icon-benefit {
    position: relative;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 6%;
    z-index: 9999;
}

.icon-benefit img {
    background-color: #363636;
    width: 24px;
    height: 24px;
}

.article-txt-container {
    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
    border-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.article-container:first-of-type {
    margin-top: 3em;
}

.article-txt-container > h2 {
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: bold;
}

.link_to_gallery {
    display: block;
    background-color: #363636;
    color: #FFFFFF;
    width: auto;
    text-align: center;
    padding: .5em;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.link_to_gallery:hover {
    color: #363636;
    background-color: #FFFFFF;
    border: 1px solid #363636;
    text-decoration: none;
}

.articles-container {
    justify-content: center;
    align-items: center;
}

.article-container {
    flex-direction: row-reverse;
    margin-bottom: 3em;
}

.article-container-reverse {
    margin-bottom: 3em;

}

.article-img-container {
    height: 25em;
}
a.next-add-article-link {
     display: flex;
     justify-content: center;
     /*width: 100%;*/
}

a.next-add-article-link:hover {
    display: flex;
    justify-content: center;
    /*width: 100%;*/
    text-decoration: none;
}

i.link-article {
    color: #363636;
    text-decoration: none;
}

i.link-article:hover {
    color: #363636;
    text-decoration: none;
}


/*****************************************************************/
/*                                   BUILDER ARTICLE                                           */
/*****************************************************************/

.builder-container {
    width: 100%;
    height: 60vh;
    border: 1px solid #363636;
    overflow: auto;
}

.pictures-container {
    height: 60vh;
    border: 1px solid #363636;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    /*overflow-y: auto;*/
}

.picture-container {
    margin-bottom: 1.5em;
}

.construct-container {
    width: 100%;
    height: 60vh;
    border: 1px solid #363636;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a.add-landscape-picture {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.add-landscape-picture:hover {
    text-decoration: none;
}

span#landscape {
    width: 80%;
    height: 50%;
    text-align: center;
    border: 1px solid #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    transition: all .3s ease-in-out;
}

span#landscape:hover {
    background-color: #363636;
    color: #FFFFFF;
}

a.add-portrait-picture {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.add-portrait-picture:hover {
    text-decoration: none;
}

span#portrait {
    width: 40%;
    height: 100%;
    text-align: center;
    border: 1px solid #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    transition: all .3s ease-in-out;
}

span#portrait:hover {
    background-color: #363636;
    color: #FFFFFF;
}

a.add-landscape-pictures {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.add-landscape-pictures:hover {
    text-decoration: none;
}

span.landscapes {
    width: 40%;
    height: 50%;
    text-align: center;
    border: 1px solid #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    transition: all .3s ease-in-out;
}

span.landscapes:hover {
    background-color: #363636;
    color: #FFFFFF;
}


a.add-portrait-pictures {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.add-portrait-pictures:hover {
    text-decoration: none;
}

span.portraits {
    width: 20%;
    height: 100%;
    text-align: center;
    border: 1px solid #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    transition: all .3s ease-in-out;
}

span.portraits:hover {
    background-color: #363636;
    color: #FFFFFF;
}

.wait-landscape {
    width: 100%;
    min-height: 200px;
    border: 1px solid #363636;
    margin: 15px auto;
}

.wait-landscapes {
    min-height: 200px;
    border: 1px solid #363636;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wait-portrait {
    min-height: 800px;
    border: 1px solid #363636;
    margin: 15px auto;
}

.wait-portraits{
    min-height: 800px;
    border: 1px solid #363636;
    margin-top: 15px;
    margin-bottom: 15px;
}

.picture-thumb-article {
    height: 220px;
    width: 33.33%;
    transition: .5s;
    padding: 20px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-width: thin;
}

.img-article {
    width: 100%;
}

.bar-actions {
    background: #CCCCCC;
    border-bottom: 1px solid #363636;
    text-align: right;
    padding: .5em;
}

.delete-elem {
    color: red;
    padding-left: .5em;
}

.wait {
    position: relative;
}

/*****************************************************************/
/*                              SHOW ARTICLE PAGE                                          */
/*****************************************************************/

.img-gallery {
    width: 100%;
    margin: 15px 0;
}