.box_files {
    display: none;
}

.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
    height: 540px;
}
.box .has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.is_dragover {
    background-color: grey;
}

.box.is-uploading .box__input {
    visibility: hidden;
}
.box.is-uploading .box__uploading {
    display: block;
}

.drop-container {
    width: 100%;
    min-height: 540px;
    height: auto;
}

.dropfiles {

}

.messageUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    border: 1px dashed #000000;
    margin-bottom: 30px;
}

.hover {
    border-color: #0000F0;
    color: #0000F0;
    font-size: 2em;
}

.area-upload {
    width: 70%;
    height: 480px;
    border: 1px solid #242424;
    text-align: center;
    overflow: auto;
}

.area-upload:hover {
    cursor: pointer;
}

#file {
    display: none;
}

.img_upload {
    width: 20%;
}

.upload-img-container {
    width: 100%;
    background-size: cover;
    height: 70vh;
    overflow: auto;
    border: 1px solid #242424;
}


.picture-thumb-container {
    width: 100%;
    /*height: 80vh;*/
    /*overflow: auto;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    /*margin: 20px;*/
    position: relative;

}

.picture-thumb {
    /*flex-wrap: wrap;*/
    /*border: 1px solid #000000;*/
    /*margin: 5px;*/
    /*max-height: 270px;*/
    /*max-width: 250px;*/
    /*cursor: pointer;*/
    /*margin: 0;*/
    height: 130px;
    width: 17%;
}

.picture-thumb img {
    width: 100%;
    height: auto;
}

.options-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
}

.favorite {
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.options-thumb a {
    color: black;
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.favorite-container {
    border-right: 1px solid #000000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.thumb-inactive {
    display: none;
}

.favorite-color {
    color: #ffff00;
}

.gallery-customers-container {
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

legend {
    display: none;
}

.form-check-label {
    position: absolute;
}