/* CSS GLOBAL clairegindre */

html, body {
    font-family: 'Assistant', serif;
    font-weight: 200;
    margin: 0 auto;
    letter-spacing: .2px;
}

nav {
    margin-top: 3%;
}

input:focus, textarea:focus, select:focus, button:focus {
    border: none !important;
    box-shadow: none !important;
}

.container-fluid {
    padding: 0;
}

/* GLOBALS CSS RULES */
.header-img {
    background: url("/images/anlor-nico-header-photo.jpg") no-repeat center;
    min-height: 100vh;
    width: auto;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
}

.submit-form {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

/*****************************************************************/
/*                                              LAYOUT                                                    */
/*****************************************************************/

.angle-bounce-layout {
    animation: bounce 0.7s ease infinite;
}

@keyframes bounce {
    from {transform: translateY(0);} to {transform: translateY(-10px);}
}

.logo-content {
    margin-top: 2%;
    min-width: 165px;
    min-height: 180px;
    max-width: 220px;
}

.logo-img {
    background: url("/images/logo.png") no-repeat center;
    background-size: contain;
    min-height: 160px;
    height: 100%;
    display: block;
}

.logo-img-color {
    background: url("/images/interface/logos/logo-color.png") no-repeat center;
    background-size: contain;
    min-height: 160px;
    height: 100%;
    display: block;
}

.left-menu {
    margin-top: 5%;
    text-transform: uppercase;
}

.left-menu a {
    color: #fff;
}

.nav-link {
    margin-top: 5%;
    text-transform: uppercase;
    color: #000000;
    font-family: Playfair;
}

.right-menu {
    margin-top: 5%;
    text-transform: uppercase;
}

.right-menu a {
    color: #fff;
}

.right-menu-black a {
    color: #000000;
}

.scroll-down {
    position: absolute;
    width: 100%;
    bottom: 2%;
    display: flex;
    justify-content: center;
    color: #fff;
}

h2.last-report {
    text-transform: uppercase;
}

/*FAQ */
.infos-content {
    background: url("/images/interface/faq/nico_anlor_faq.jpg") no-repeat center;
    position: relative;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: #fff;
    padding-top: 10%;
}

.infos-content h2 {
    font-family: Playfair;
    font-weight: 400;
    letter-spacing: .1em;
    font-size: 3.5em;
}

.infos-title {
    font-size: 3em;
    font-family: Playfair;
    font-weight: 400;
    letter-spacing: .2rem;
}

.info-p {
    font-weight: 300;
}

.social-media {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 8%;
    top: 5%;
}

.social-media i {
    margin: 10px;
}

.benefits {
    background-color: #242424;
    color: #fff;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3%;
}

.benefits > span {
    margin-top: 10%;
    margin-bottom: 2%;
    height: 10%;
    width: 10%;
}

/*.benefits::after{*/
    /*content: '';*/
    /*height: 20vh;*/
    /*width: 1px;*/
    /*background-color: grey;*/
/*}*/

span.wedding {
    background: url("/images/interface/pictos/mariage.png") no-repeat center;
        background-size: contain;
}

span.couple {
    background: url("/images/interface/pictos/couple.png") no-repeat center;
        background-size: contain;
}

span.family {
    background: url("/images/interface/pictos/family.png") no-repeat center;
        background-size: contain;
}

.pricing {
    font-weight: 600;
}

section.portfolio {
    width: 80%;
    margin: 80px auto 100px;
}

section.presentations {
    background: url('/images/background/presentation-full.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 80%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 80%);
    height: 92vh;
}

.height-pres {
    height: 60vh;
}

.bg-presentations {
    height: 92vh;
    -webkit-clip-path: polygon(0 100%, 0 80%, 100% 100%);
    clip-path: polygon(0 100%, 0 80%, 100% 100%);
    background-color: #5f6b67;
    position: absolute;
    top: 0;
    left: 0;
}

.hello-container {
    width: 50%;
    height: 70%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: auto;
    position: relative;
}

.photo-presentations {
    background: url('/images/clairegindre.jpeg') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 12%;
    left: -25%;
    width: 50%;
    height: 75%;
}

div.contact-triangle {
    background-color: #fff;
    min-height: 300px;
    position: relative;
}

div.polygon-absolute {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 50%);
    clip-path: polygon(0 0, 100% 0, 50% 50%);
    /*background: url('/images/background/image-contact.jpg') no-repeat center;*/
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

div.polygon-triangle-absolute {
    -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background-color: #5f6b67;
    width: 50%;
    min-height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

.triple-triangle {
    margin: 0;
    padding: 0;
}

.triple-triangle > img {
    width: 100px;
    height: auto;
}

.contact-form {
    border: none;
    border-radius: 0;
    height: 70px;
    width: 90%;
    margin: 15px 0;
    transition: .2s ease-out, opacity .2s linear;
    font-size: 16px;
}

.label_contact {
    display: block;
    font-size: 16px;
    position: absolute;
    bottom: 20%;
    left: 7%;
    color: #5f6b67;
    transition: all 0.5s;
}

.input-content:after, .input-content:before {
    content: '';
    position: absolute;
    display: block;
    width: 90%;
    height: .5px;
    background-color: #5f6b67;
    bottom: 14%;
    left: 5%;
    transition: all 0.5s;
}

.input-content::after {
    height: 2px;
    transform: scaleX(0);
}

.is-active::after {
    transform: scaleX(1);
}

.is-active .label_contact {
    color: #5f6b67;
}

.is-completed .label_contact {
    font-size: 12px;
    bottom: 70%;
    left: 7%;
    opacity: .8;
}

textarea.contact-form {
    height: 130px;
    width: 95%;
    border: 1px solid #8d9693;
    margin: 15px 0;
}

input.sub-contact, button.sub-contact {
    width: 95%;
    margin: 15px 0 35px 0;
    border: none;
    background-color: #8d9693;
    color: #fff;
}

.insta-list {
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: repeat(auto-fit, 33.33%);
    grid-auto-rows: 50%;
    margin-left: -0.1px;
    margin-bottom: -0.1px;
}

.insta-list img {
    max-width: 100%;
    align-self: stretch;
    justify-self: stretch;
    object-fit: cover;
    height: 50%;
}

.insta-logo {
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 47%;
    left: 37%;
    width: 25%;
    height: 6%;
    color: #000000;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2em;
}

.fit-left {
    object-position: left;
}

.infos-carousel {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: rgba(255,255,255,.6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10%;
}

.comment-contain {
    height: 100%;
}

.comment-slider {
    height: 80%;
}

.footer-contain {
    min-height: 300px;
    background-color: #242424;
    color: #fff;
    padding-top: 2%;
}

footer ul li a{
    color: #fff;
}
