.gallery {
    margin: 0 auto;
    display: grid;
    height: 85vh;
    grid-template-columns: 22% 25% 30% 1fr;
    grid-template-rows: 33% 13% 18%  13% 1fr;
    width: 60%;
    border: 1px solid red;
    grid-gap: 5px;

}

.left-1 {
    display: grid;
    grid-column: 1;
    grid-row: 1 / span 2;
    border:  3px solid blue;
}

.left-2 {
    display: grid;
    grid-column: 1;
    grid-row: 3 / span 2;
    border:  2px solid violet;
}

.left-3 {
    display: grid;
    grid-column: 1;
    grid-row: 5;
    border:  1px solid green;
}

.middle-1 {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2 ;
    border: 2px solid yellow;
}

.middle-2 {
    display: grid;
    grid-column: 2;
    grid-row: 3 / span 3;
}

.middle-3 {
    display: grid;
    grid-column: 3;
    grid-row: 3;
}

.middle-4 {
    display: grid;
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
}

.right-1 {
    display: grid;
    grid-column: 4;
    grid-row: 1;
}

.right-2 {
    display: grid;
    grid-column: 4;
    grid-row: 2 / span 2;
}

a {
    display: block;
    border: 1px solid;
}