:root {
    --width-value: 60vw;
    --height-value: calc(var(--width-value)* calc(60/85));
}

.gallery {
    margin: 0 auto;
    display: grid;
    height: var(--height-value);
    grid-template-columns: 22% 25% 30% 1fr;
    grid-template-rows: 33% 13% 18%  13% 1fr;
    width: var(--width-value);
    grid-gap: 5px;

}

.left-1 {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.left-2 {
    grid-column: 1;
    grid-row: 3 / span 2;
}

.left-3 {
    grid-column: 1;
    grid-row: 5;
}

.middle-1 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2 ;
}

.middle-2 {
    grid-column: 2;
    grid-row: 3 / span 3;
}

.middle-3 {
    grid-column: 3;
    grid-row: 3;
}

.middle-4 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
}

.right-1 {
    grid-column: 4;
    grid-row: 1;
}

.right-2 {
    grid-column: 4;
    grid-row: 2 / span 2;
}

.thumb {
    position: relative;
    overflow: hidden;
}

.link_hover {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(24,24,24,.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.link_hover h2 {
    font-family: Playfair;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: .5em .5em .3em .5em;
}

p.date-portfolio {
    margin: 0;
}

p.place {
    margin: 0;
}

/*.link_hover h2:nth-child(1) {*/
    /*border: 1px solid red;*/
/*}*/


.link_hover h2:nth-child(2) {
    border: 1px solid green;
}


.link_hover h2:nth-child(3) {
    border: 1px solid yellow;
}


.link_hover h2:nth-child(4) {
    border: 1px solid black;
}


.link_hover h2:nth-child(5) {
    border: 1px solid purple;
}


.link_hover h2:nth-child(6) {
    border: 1px solid pink;
}


.link_hover h2:nth-child(7) {
    border: 1px solid darkslategrey;
}


.link_hover h2:nth-child(8) {
    border: 1px solid grey;
}


.link_hover h2:nth-child(9) {
    border: 1px solid orange;
}