
/*MOBILE */
@media all and (max-width : 480px) {

    .infos-content {
        height: 30vh;
    }

    #menu-line-1 {
        background-color: #ffffff;
    }

    #menu-line-2 {
        background-color: #ffffff;
    }

    #menu-line-3 {
        background-color: #ffffff;
    }

    .infos-txt {
        background-color: #242424;
        color: #fff;
        padding-left: 4em !important;
        padding-right: 4em !important;
    }

    .infos-title:nth-child(1) {
        padding-top: .5em;
    }

    .info-p {
        text-align: justify;
        font-size: .9em;
    }

    .infos-txt p {
        margin: 0;
    }

    .benefits {
        background-color: #242424;
        color: #fff;
        padding-left: 4em !important;
        padding-right: 4em !important;
        height: auto;
    }

    span.wedding {
        height: 2em;
    }

    span.couple {
        height: 2em;
    }

    span.family {
        height: 2em;
    }

    /***************************************************************/
    /*                                              INDEX                                                   */
    /***************************************************************/
    .logo-img {
        min-height: 90px;
        margin-top: .2em;
    }

    .logo-content {
        min-height: 130px;
        padding-bottom: 5%;
    }

    .presentation-container > h2 {
        font-family: Playfair;
        font-weight: lighter;
        font-size: 3em;
        margin: 0 0 0 .6em;
    }

    p#presentation-txt {
        font-size: .8em;
        margin: 0 2em;
        text-align: justify;
    }

    .photo-presentations {
        top: -25%;
        left: 30%;
        width: 36%;
        height: 40%;
    }

    .label_date {
        top: 15% !important;
    }

    .position-icon-datepicker {
        right: 50%;
        top: 15%;
    }


    .btn-contact {
        padding-right: 1em !important;
    }

    button.sub-contact {
        width: 30%;
    }

    .social-container {
        left: 93%;
        top: 7% !important;
    }

    .infos-carousel {
        padding: 0 4% !important;
    }

    .carousel-title ~ p {
        font-size: .7em;
    }

    .infos-carousel h3 {
        font-size: 1.3em;
    }

    .insta-list {
        height: 15em;
    }

    .insta-list img {
        height: 100%;
    }

    .insta-logo {
        font-size: .9em;
    }

    footer {
        background-color: #242424;
        color: #fff;
        padding: 2% 0 30px;
    }

    footer a.nav-footer {
        text-align: center;
    }

    footer p {
        text-align: center;
    }

    .social-footer-container {
        text-align: center;
        margin-bottom: 1em;
    }


    footer .arrow-footer {
        display: none;
    }

    .contact-footer {
        margin-top: 1em;
    }

    p#follow-me {
        margin-top: 1em;
    }

    /***************************************************************/
    /*                                              BLOG                                                     */
    /***************************************************************/

    h2.blog-title {
        font-size: 1.5em;
        margin-top: .5em;
    }

    .blog-title ~ p {
        font-size: .8em;
    }

    p.gallery-title {
        font-size: 1em !important;
    }

    .article-txt-container {
        margin-bottom: 2em;
        padding-bottom: 1em;
    }

    .article-img-container {
        height: 15em;
    }

    .select-portfolio {
        display: flex;
        flex-direction: column;

    }

    button.filter-button-dynamique {
        width: 100%;
        text-align: center;
        font-size: .9em;
        letter-spacing: .1rem;
        margin: .2em 0 !important;
    }

    .blog-pictos-filter {
        margin-right: 0.2em;
    }

    #btn-blog {
        width: auto;
    }

    /***************************************************************/
    /*                                              REVIEWS                                             */
    /***************************************************************/
    .img-reviews {
        height: auto !important;
    }
}