{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles/drop_pictures.css') }}" />
    {% block title %}
        <title>Administration des familles</title>
    {% endblock %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="col">
            <h1>ajout images</h1>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="drop-container">

            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/back/dropPictures.js"></script>
    <script>$(document).ready(function () {
            $('#drop-container').dropPictures(

            );
        });
    </script>
{% endblock %}