{% extends "layout.html.twig" %}
{%  block head %}
    {{ parent() }}
    <title>Bienvenue sur le site de Claire GINDRE - Photographe</title>
{% endblock %}

    {% block header %}
       {{ parent() }}
    {% endblock %}

{% block content %}
    <section class="portfolio">
        <h2 class="text-center text-uppercase">love & fun</h2>

        <div class="gallery">
            <div class="left-1 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
            <div class="left-2 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
            <div class="left-3 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
            <div class="middle-1 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
            <div class="middle-2 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
            <div class="middle-3 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
            <div class="middle-4 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
            <div class="right-1 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
            <div class="right-2 thumb">
                <a href="#" class="portfolio_link">
                    <div class="link_hover">
                        <h2>ANLOR + NICO</h2>
                        <p>Coucou je m'appelle Claire, je suis photographe et c'est cool !!!!</p>
                    </div>
                </a>
            </div>
        </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="/js/front/collection_home.js"></script>
<script src="{{ asset('/js/front/portfolio_index.js') }}"></script>
{% endblock %}
