<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-mentions">ÉDITRICE ET RESPONSABLE DE LA PUBLICATION DU SITE CLAIREGINDRE :</h2>
            <p class="mentions">Claire Gindre, Photographe et Graphiste</p>
            <p class="mentions">contact@clairegindre.com</p>
            <p class="mentions">Siret : 52112314100017</p>
            <p class="mentions">Code APE : 7410Z</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-mentions">HÉBERGEMENT DU SITE :</h2>
            <p class="mentions">1&1 Internet</p>
            <p class="mentions">7, place de la Gare</p>
            <p class="mentions">57200 Sarreguemines</p>
            <p class="mentions">www.1and1.fr</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-mentions">CONCEPTION GRAPHIQUE DU SITE  :</h2>
            <p class="mentions">Claire Gindre</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-mentions">DÉVELOPPEMENT DU SITE :</h2>
            <p class="mentions">Maxime GINDRE</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-mentions">PROPRIÉTÉ INTELLECTUELLE :</h2>
            <p class="mentions">Les photographies et tous les éléments graphiques composant le site sont la propriété exclusive de Claire Gindre et ne peuvent être utilisées sans son consentement. Toute reproduction, copie ou modification est strictement interdite.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-mentions">LIENS HYPERTEXTES :</h2>
            <p class="mentions">Claire Gindre n'exerce aucune surveillance sur les sites reliés par le biais de liens hypertextes, et décline toute responsabilité liée à ces sites et leurs contenus.</p>
        </div>
    </div>
</div>